// https://www.youtube.com/watch?v=9S8LGdpNh4Q
// # Layout Colors
$black: #232528;
$black_low_contrast: #232c34;
$error: #f87060;
$error_contrast: #9e483e;
$success: #3ee6b4;
$disabled: #bbbbbc;
// Green
$green_white: #f9ffff;
$green_white_low_contrast: #eff4f4;
$green_dec_2: #067858;
$green_dec_1: #089a71;
$green_0: #36f1cd;
$green_inc_1: #35c89f;
$green_inc_2: #62d4b4;
// Blue
$blue_white: #f4faff;
$blue_white_low_contrast: #edeff2;
$blue_dec_2: #386b99;
$blue_dec_1: #029be2;
$blue_0: #00d0ff;
$blue_inc_1: #00bfff;
$blue_inc_2: #9dd1ff;
$blue_deep: #222831;
/*** Colors ***/

$white: lighten($blue_white, 10%);
$white_low_contrast: $blue_white_low_contrast;
$primary: $blue_0;
$primary_inc_1: $blue_inc_1;
$primary_inc_2: $blue_inc_2;
$primary_dec_1: $blue_dec_1;
$primary_dec_2: $blue_dec_2;
